*.o
.*.swp
*~
*.out
*.old
*.twc
*.a
config.h,
config.h,.in
test/runtests
autoscan.log
Makefile
autom4te.cache
config.log
config.status
config.h
stamp-h1
.deps
Parser.h
Parser.cpp
Scanner.h
Scanner.cpp
twister
twisterc
